<!-- footer -->
<footer class="darkBlueBG grey pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-3">
                <a href="{{siteurl.baseurl}}/index.html" class="grey h2Heading footerLogo">
                Deal-Lookup
                </a>
                <div class="pr-3">
                    <p class="small">
                        Deal-Lookup Information etc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                    </p>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <ul class="footerList">
                    <li><a class="footerLinks " href="{{siteurl.baseurl}}/index.html" >Home</a></li>
                    <li><a class="footerLinks" href="{{siteurl.baseurl}}/dashboard.html">Dashboard</a></li>
                    <li><a class="footerLinks" href="{{siteurl.baseurl}}/single-asset.html">Single Asset</a></li>
                    <li><a class="footerLinks" href="{{siteurl.baseurl}}/faq.html">FAQ</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <ul class="footerList">
                    <li><a class=" footerLinks" href="#">Contact</a></li>
                    <li><a class=" footerLinks" href="#">Legal</a></li>
                    <li><a class=" footerLinks" href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-3">
                <ul class="">
                    <li class="d-flex flex-row grey">
                        <a class="d-flex h2Heading footerIcons" href="https://www.facebook.com/">
                        <i class="fa fa-facebook-square " aria-hidden="true"></i>
                        </a>
                        <a class="d-flex h2Heading footerIcons" href="https://www.linkedin.com/">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                        <a class="d-flex h2Heading footerIcons" href="https://twitter.com/">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                        <a class="d-flex h2Heading footerIcons" href="https://plus.google.com/">
                        <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="pb-0 mb-0 small">
                        Deal-Lookup Information etc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                        <a class="p-0 m-0 footerLinks" href="#">Learn More</a>
                    </li>
                    <li class="pb-0 mb-0">
                        <a class="p-0 m-0 footerLinks " href="http://google.com/" title="Search Elsewere :-)">Go fetch!</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--end footer -->
