<!-- navbar -->
<nav class="navbar navbar-bg navbar-toggleable-md navbar-light bg-faded ">
    <div class="row d-flex justify-content-between mr-4">
        <a class="navbar-brand pl-5 nice-blue" href="">Deal-Lookup</a>
        <div class="hidden-lg-up ">
            <button type="button" class="navbar-toggler p-0 mt-2" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
            <span class="navbar-toggler-icon "></span>
            </button>
        </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-toggleable justify-content-end pr-lg-5" id="bs-navbar-collapse-1">
        <div class="centerNavs">
            <ul class="nav navbar-nav collapsedNavs">
                <li class="nav-item navicon pl-2 pr-2 ">
                    <a class="nav-link " href="{{site.url.baseurl}}/index.html">
                        <h5 class="">Home</h5>
                    </a>
                </li>
                <li class="nav-item navicon pl-2 pr-2 ">
                    <a class="nav-link" href="{{site.url.baseurl}}/dashboard.html">
                        <h5 class="">Dashboard</h5>
                    </a>
                </li>
                <li class="nav-item navicon pl-2 pr-2">
                    <a class="nav-link" href="{{site.url.baseurl}}/single-asset.html">
                        <h5 class="">Single Asset Example</h5>
                    </a>
                </li>
                <li class="nav-item navicon pl-2 pr-2">
                    <a class="nav-link" href="{{site.url.baseurl}}/faq.html">
                        <h5 class="">FAQ</h5>
                    </a>
                </li>
            </ul>
        </div>
        <div class="rightsNavs">
            <ul class="nav navbar-nav collapsedNavs">
                <li class="nav-item navicon pl-2 pr-2">
                    <a id="sign-up-link" class="nav-link" href="{{site.url.baseurl}}/signup.html">
                        <h5 class="nice-blue">Sign Up</h5>
                    </a>
                </li>
                <li class="nav-item navicon pl-2 pr-2">
                    <a id="log-in-link" class="nav-link" href="{{site.url.baseurl}}/login.html">
                        <h5 class="nice-blue">Sign In</h5>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--end navbar -->
