.select2-container {
    min-width: 10em;
    padding: 0!important;
    margin: 0!important;
}

ul li.select2-selection__choice,
ul li.select2-search {
    /* Cancel out django's style */
    list-style-type: none;
}
